{% extends 'base.html' %}

{% block title %}<title>Contact</title>{% endblock title %}

{% block header %}
<header>
    <div id='top' style='background:#fff; box-shadow:0 1px 4px #ccc'>
        <div id="logo"><a href="/" class="logo">Short URL</a></div>
    </div>
</header>
{% endblock header %}

{% block content %}
<main>
    <section id="content">
        <h1>Contact our Team</h1>
        <div id="formbox">
            <form method="post">
                <p class="formtext">Name<br><input name="name" type="text" style="width: 100%; max-width: 300px;" required></p>
                <p class="formtext">E-mail<br><input name="email" type="email" style="width: 100%; max-width: 300px;" required></p>
                <p class="formtext">Message<br><textarea name="message" style="width: 100%; max-width: 300px; height: 80px;" required></textarea></p>
                <p class="formtext">{{a}} + {{b}} = <input name="result" type="text" style="width: 100%; max-width: 40px;" required></p>
                <p id="button">
                    <input value="Send" type="submit"> 
                    <input value="Clean" type="reset">
                </p>
                {% csrf_token %}
            </form>
        </div>
        </section>
</main>
{% endblock content %}