{% extends 'base.html' %}

{% block title %}<title>Terms of Service</title>{% endblock title %}

{% block header %}
<header>
    <div id='top' style='background:#fff; box-shadow:0 1px 4px #ccc'>
        <div id="logo"><a href="/" class="logo">Short URL</a></div>
    </div>
</header>
{% endblock header %}

{% block content %}

<main>
    <section id="content">
    <h1>Terms of Service</h1>
    <p>This page explains the terms of use of Short URL, the user when using the shortener site is conditioned to the acceptance of the terms and conditions of use.</p>
    <h2>Conditions of use</h2>
    <p>The site is available for access to all users without age or country restrictions and therefore you need to agree with the conditions of use when using our services.</p>
    <p>In order to provide a secure service for users it is not allowed to create short links that redirect to URLs that have:</p>
    <ul>
    <li class="list">Content that spreads phishing, malware or viruses</li>
    <li class="list">Abusive or suspicious content</li>
    <li class="list">Pornographic, sexual, violent or prejudiced content</li>
    <li class="list">Content related to drugs, weapons or drinks</li>
    <li class="list">Any content that may infringe other people's rights</li>
    <li class="list">Disgusting, explicit or offensive content that causes any kind of discomfort to other users</li>
    <li class="list">Pop ups, scripts and malicious code</li>
    <li class="list">Pages that provide information that is false, inaccurate or incomplete</li>
    <li class="list">Double redirection and pages without content</li>
    <li class="list">Content to collect data and personal information from users</li>
    </ul>
    <p>Also, don't use Short URL to shorten links for ad campaigns and spam material.</p>
    <p>Every link created is verified by our team, if we notice any kind of abusive behavior that violates our terms of service in shortening links, they will be deleted without notice. Shortened links that do not receive clicks will also be deleted.</p>
    </section>
    </main>

{% endblock content %}