{% extends 'base.html' %}

{% block title %}<title>Shortened URL - ERROR</title>{% endblock title %}

{% block header %}
<header>
    <div id='top' style='background:#fff; box-shadow:0 1px 4px #ccc'>
        <div id="logo"><a href="/" class="logo">Short URL</a></div>
    </div>
</header>
{% endblock header %}

{% block content %}
    <main>
        <section id="content">
        <h1>An error occurred to generate the URL</h1>
        <p>The <b>URL is not valid</b>, make sure the URL you tried to shorten is correct.</p>
        <p>Possible errors:</p>
        <ul>
        <li class="list">Check if the domain is correct</li>
        <li class="list">Check if the site is online</li>
        <li class="list">Check the length of the url is not too small</li>
        <li class="list">Check the address bars and punctuation</li>
        <li class="list">The URL may have been blocked</li>
        <li class="list">The url may have been reported</li>
        <li class="list">Make sure the url does not contain spam</li>
        </ul>
        <p><a href="http://127.0.0.1:8000/" class="colorbutton">Go back and try again</a></p>
        </section>
    </main>
{% endblock content %}
