{% extends 'base.html' %}

{% block title %}<title>URL CLick Counter</title>{% endblock title %}

{% block header %}
<header>
    <div id='top' style='background:#fff; box-shadow:0 1px 4px #ccc'>
        <div id="logo"><a href="/" class="logo">Short URL</a></div>
    </div>
</header>
{% endblock header %}

{% block content %}

<main>
    <section id="content">
        <h1>URL Click Counter</h1>
        <p>Enter the URL to find out how many clicks it has received so far.</p>
    </section>
    <section id="urlbox">
        <br><br>
        <form method="post">
            <div id="formurl">
                <input type="text" name="url" placeholder="Enter here your shortened URL">
                <div id="formbutton">
                    <input type="submit" value="Track Clicks">
                </div>
                
            </div>
            <div>
                {% for error in form.url.errors %}
                    <h4 style='color:red;'>{{ error }}</h4>
                {% endfor %}
            </div>
            {% csrf_token %}
        </form>
        <p style="padding: 0 50px;">Example: localhost:8000/AbCdE</p>
    </section>
    <section id="content">
        <p>* Track the total hits of the shortened URL in real time, you do not have to register.</p>
    </section>
</main>

{% endblock content %}